body {
  background-color: black;
}

.red {
  background-color: #c72121; 
  border: none;
  color: #c72121;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.green {
  background-color: #21c73d; 
  border: none;
  color: #21c73d;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.blue {
  background-color: #214dc7; 
  border: none;
  color: #214dc7;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.disabled {
  background-color: #5f6164; 
  border: none;
  color: #5f6164;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.6;
  cursor: not-allowed;
}

.long {
  background-color: #fdff00; 
  border: none;
  color: #fdff00;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  width: 250px;
}

.hover {
  background-color: #f4511e; 
  border: none;
  color: #f4511e;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.hover span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hover span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hover:hover span {
  padding-right: 25px;
}

.hover:hover span:after {
  opacity: 1;
  right: 0;
}

.ripple {
  background-color: #4CAF50;; 
  border: none;
  color: #4CAF50;;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.ripple:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.ripple:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}